@import url(https://fonts.googleapis.com/css?family=Oxygen);

h1, h2, h3, p, code {
  font-family: 'Oxygen';
  font-weight: normal;
}

.book.font-family-1 {
  font-family: 'Oxygen';
}

.summary{
  font-family: 'Oxygen';
  color: #b32e66;
}

div.note {
  border: 3px #aed6d963;
  padding: 1em;
  margin: 1em 0;
  padding-left: 30px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 25px;
  background-color: #122847;
  color: #e5e5e5;
}

